
.fl{float:left;}
body,h1,h2,h3,h4,h5,h6,div,p,dl,dt,dd,ol,ul,li,form,table,th,td,a,img,span,strong,var,em,input,textarea,select,option{margin: 0; padding: 0;}
a{text-decoration:none;}
ol,ul,li{list-sytle:none;}
img{border:0;}
body{width:auto;}

